<!-- main -->
<main>
    <section class="posts">
        <article class="post">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
            <h2>this is the title of my post</h2>
            <p>posted by jess on 3/3/2022</p>
            </div>
            <p class="content">
            lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Quo esse aliquam cupiditate quidem nesciunt ut nisi sequi
            voluptas at, facere error rem beatae dolor consectetur nulla, nihil
            tempora provident alias.
            </p>
        </article>

        <article class="post">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <h2>this is the title of my post</h2>
                <p>posted by jess on 3/3/2022</p>
            </div>
            <p class="content">
                lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Quo esse aliquam cupiditate quidem nesciunt ut nisi sequi
                voluptas at, facere error rem beatae dolor consectetur nulla, nihil
                tempora provident alias.
            </p>
        </article>
    </section>
</main>
<!-- main end -->