<!-- main -->
<main class="background vh-100">
    <section class="d-flex justify-content-center">
        <div class="user-log d-flex justify-content-center">
            <form id="login-form" class="user-form d-flex flex-wrap justify-content-center">
                <input name="username" id="username" type="text" autofocus="true" placeholder="Username"
                class="form-input p-2 rounded-pill text-center" />
                <input name="password" id="password" type="password" autofocus="true" placeholder="Password"
                class="form-input p-2 rounded-pill text-center" />
                <button id="login-user" type="submit" class="btn-login btn rounded-pill shadow">Login</button>
            </form>
            </div>
    </section>
</main>
<!-- main end -->

<script src="/javascript/login.js"></script>