<!-- main -->
<main class="background vh-100">
    <section class="login d-flex justify-content-center">
        <div class="user-log d-flex justify-content-center">
            <form id="sign-up-form" class="user-form d-flex flex-wrap justify-content-center">
                <input name="username" id="username" type="text" autofocus="true" placeholder="Username"
                class="form-input p-2 rounded-pill text-center" />
                <input name="email" id="email" type="email" autofocus="true" placeholder="Email"
                class="form-input p-2 rounded-pill text-center" />
                <input name="password" id="password" type="password" autofocus="true" placeholder="Password"
                class="form-input p-2 rounded-pill text-center" />
                <button id="signup-user" type="submit" class="btn-signup btn rounded-pill shadow">Sign Up</button>
            </form>
            </div>
    </section>
</main>
<!-- main end -->

<script src="/javascript/sign-up.js"></script>
